<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Plazma</string>
	<key>MinimumOSVersion</key>
	<string>13.6</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>com.sensoryapphouse.plazma</string>
	<key>CFBundleShortVersionString</key>
	<string>1.53</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.53</string>
	<key>CFBundleName</key>
	<string>Plazma</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>Custom Property</key>
	<string></string>
</dict>
</plist>
